*.html
utf-8-lineseparator
utf-8-lineseparator.san
utf-8-lineseparator.afl
utf-8-lineseparator.aflsan
utf-8-lineseparator.cov
utf-8-lineseparator.aflcov
.gdb_history
/afl*
/test
/test.san
*.profraw*
*.profdata
.test*.out
*.E.c
